#ifndef DWS_RC
#define DWS_RC 1
#include "ap_release.h"
#define DWSBuildCode "DWSEX:X:A:A:2016615001"
#define DWS_Int2Str(n) DWS_Int2StrEx(n)
#define DWS_Int2StrEx(n) #n

1 VERSIONINFO
FILEVERSION AP_SERVER_MAJORVERSION_NUMBER,AP_SERVER_MINORVERSION_NUMBER,AP_SERVER_PATCHLEVEL_NUMBER,AP_SERVER_DEVBUILD_BOOLEAN
PRODUCTVERSION AP_SERVER_MAJORVERSION_NUMBER,AP_SERVER_MINORVERSION_NUMBER,AP_SERVER_PATCHLEVEL_NUMBER,AP_SERVER_DEVBUILD_BOOLEAN
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "Comments", AP_SERVER_BASEPRODUCT " [" DWSBuildCode "]"
		VALUE "CompanyName", AP_SERVER_BASEVENDOR
		VALUE "FileDescription", AP_SERVER_BASEPRODUCT " [" DWSBuildCode "]"
		VALUE "FileVersion", DWS_Int2Str(AP_SERVER_MAJORVERSION_NUMBER) "." DWS_Int2Str(AP_SERVER_MINORVERSION_NUMBER) "." DWS_Int2Str(AP_SERVER_PATCHLEVEL_NUMBER) "." DWS_Int2Str(AP_SERVER_DEVBUILD_BOOLEAN)
		VALUE "InternalName", AP_SERVER_BASEPRODUCT " [" DWSBuildCode "]"
		VALUE "LegalCopyright", "(C)2015-2016 Dark Software All Rights Reserved."
		VALUE "OriginalFilename", "Dark Web Server.exe"
		VALUE "ProductName", AP_SERVER_BASEPRODUCT " [" DWSBuildCode "]"
		VALUE "FileVersion", DWS_Int2Str(AP_SERVER_MAJORVERSION_NUMBER) "." DWS_Int2Str(AP_SERVER_MINORVERSION_NUMBER) "." DWS_Int2Str(AP_SERVER_PATCHLEVEL_NUMBER) "." DWS_Int2Str(AP_SERVER_DEVBUILD_BOOLEAN)
		VALUE "Dark", AP_SERVER_BASEPRODUCT " [" DWSBuildCode "]"
		VALUE "Web site", "http://software.dark-x.net/p/DWSEX"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0
}
}

1 24 "DWS.manifest"

#endif
